.conteudo {
    margin-top: 3%;
    width: 30%;
    background-color: #B6B6B6;
    margin-left: -50px;
    border: 1px solid rgb(161, 161, 159);
    padding: 3%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(136, 71, 71);
    margin-bottom: 5%;
    z-index: 1;
    position: relative;
    margin-right: auto;
}

.texto {
    background-color: #C9C9C9;
    width: 400px;
    height: 27vh;
    z-index: -1;
    position: relative;
    border-radius: 20px;
    margin-left: auto;
    margin-top: 7%
}

.texto h2 {
    text-align: center;
    font-size: 60px;
    margin-top: 5%;
}

.texto h1 {
    font-size: 20px;
    margin-top: 1%;
    text-align: center;
}

.texto p {
    font-size: 20px;
    margin-top: 3%;
    margin-right: 10%;
    text-align: center;

}

.cor {
    color: blue;

}

.controle-form {
    text-align: left;
    margin-top: 4%;
    padding: 10px;
}

.controle-form label {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: black;
    margin-left: 13%;
}

.controle-form input {
    padding: 10px;
    font-size: 20px;
    color: black;
    background-color: #B6B6B6;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 40%;
    outline: none;
}

.botao {
    text-align: center;
    margin-top: 6%;
}

.botao button {
    background-color: black;
    color: white;
    font-weight: bold;
    width: 30%;
    padding: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
}

form h2 {
    font-size: 20px;
    text-align: center;
    margin-top: 5%;
    cursor: pointer;
}

.conteinerLogin {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 5%;
}