.background img {
    width: 100%;
    height: auto;
    z-index: 0;
    position: relative;
}

.caixa-reserva {
    width: 80%;
    background-color: #b6b6b6;
    margin: -50px auto 50px;
    border-radius: 20px;
    box-shadow: 8px 2px 2px grey;
    position: relative;
    z-index: 1;
}

.novidade-texto h1 {
    font-size: 40px;
    font-weight: 600;
    padding: 50px;
}

.cartao-carro {
    width: 35%;
    margin: 35px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.cartao-carro .fundo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.cartao-carro .fundo img {
    width: 100%;
    height: auto;
}

.cartao-carro .rodape {
    background-color: #222222;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    box-shadow: 8px 2px 2px grey;
    border-radius: 20px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 20px 10px;
}

.cartao-carro .fundo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.cartao-carro .rodape h1 {
    font-size: 18px;
    margin: 0;
}

.cartao-carro .valor button {
    width: 60%;
    color: black;
    border: none;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .wrap {
        padding: 10px;
    }

    .cartao-carro {
        width: 48%;
    }
}

@media screen and (max-width: 768px) {
    .cartao-carro {
        width: 100%;
    }
}